/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}

/* About */ 
#pic img{
    width: 300px;
    height: 175px;
}
#intro h2{
    font-size: 1.0rem;
}


/* Portfolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

/* Contact */
.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}